<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>offer</title>
    <link rel="stylesheet" href="/static/stylepages.css" />
  </head>
  <body>
    <div class="tab" style="font-size: normal">
      Dear {{name}},<br></br> Here is our food suggestion for you!<br></br>
      <div style="fon">{{food1}}<br></br>
        {{contact}}<br></br></div>
      enjoy your meal &#127857;
      <form action="/logout/">
          <input type="submit" value="logout" /></input>
      </form>
      <a href="http://127.0.0.1:5000/lifestyle/">previous</a>

    </div>
  </body>
</html>
