<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/diet/stylepages.css" />
    <title>BMI</title>
  </head>
  <body>
    <div class="tab" style="font-size: x-large">
      <form action="/result/" method="post">{% csrf_token %}
        Insert your height in cm:
        <input
          type="text"
          name="height"
          style="height: 0.5cm; font-size: medium"
        /></input>CM<br /><br />
        Insert your weight in kg:
        <input
          type="text"
          name="weight"
          style="height: 0.5cm; font-size: medium"
        /></input>KG<br />

        <br />

        <input
          type="submit"
          value="Next"
          style="text-align: center; color: aliceblue"
        /></input>
      </form>
      <form action="/signin">
          <button name="pre">previous</button>
      </form>
    </div>
  </body>
</html>
