<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food School</title>
    <link rel="stylesheet" href="/static/diet/homepage.css" />
  </head>
  <body style="background-color: #fffbf0">
    <div class="header"><h1 style="color: #423C40">Food Journey</h1></div>
    <div class="column">
      <h3 style="color: goldenrod">Food leader</h3>
      <img src="/static/diet/images/IMG_7533.JPG" alt="photo of mahlagha kafili" />
      <br><br><br><br><br>
      <p style="color: goldenrod"><abbr title="a powerful women" ; class="name">Mahlagha Kafili</abbr>
      </p>
    </div>
    <div class="column.side"><h3 style="color: #FB7374">HI! guys, I'm mahlagha kafili I love to make your fast-food lifestyle healthier! we will have a full food journey!<br> if you want to enroll in our tour put your contact here!<br>Ooh!w8 a min! <br> Our tour requirement is your BMI!</h3></div>
    <div class="column.middle"><h2 style="color: #fe8e06;">Don't worry! <br>We will calculate your <abbr title="Body mass index">BMI</abbr> later</h2></div>
    <br><br><br><br><br><br>
    <div id="result">
    </div>
    <p style="color: #FB7374">Although it is a <mark style="color: #FB7374">local</mark> website, maybe you need this link for more info <a href="http://127.0.0.1:5500/secondindex.html">here</a>
    <div class='footer'><h2 style="color: #423C40">Now you can get ur first meal in food journey!</h2></div>
    <div class='footer2'>
      <form action="/login/">
        <input type="submit" value="Start" />
      </form>
    </div>
  </body>
</html>