<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badresult</title>
    <link rel="stylesheet" href="/static/stylepages.css" />
  </head>
  <body class="tab">
    <p>your bmi is {{bmi1}}</p>
    <p>Ooh sorry!!we will see you again after workout!!</p>
    <form action="/">
      <input type="submit" value="ok!homepage" />
    </form>
  </body>
</html>
