<!-- inja az karbar miporse ke dietsuggestion chi dare veg ya non-veg-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diet</title>
    <link rel="stylesheet" href="/static/stylepages.css" />
  </head>
  <body>
    <div class="tab"><br></br>Choose your Diet</div>
    <div class="tab">
      <form  action="/suggestion/" method="post">{% csrf_token %}
        <select name="lifestylediet">
          <option value="veg">vegetarian diet</option>
          <option value="nonveg">non-vegetarian diet</option>
        </select>
        <input type="submit" value="Next" />
      </form>
      <a href="http://127.0.0.1:8000/contact/">previous</a>

    </div>
    </div>
  </body>
</html>
