<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badresult</title>
    <link rel="stylesheet" href="/static/stylepages.css" />
  </head>
  <body class="tab">
    <p>you logged before here is ur last activity</p>
    <p>yourusername:{{user_data_from_DB.username}}
      yourpass:{{user_data_from_DB.password}}
      yourname:{{user_data_from_DB.name}}
      yourfname:{{user_data_from_DB.fname}}
      youremail:{{user_data_from_DB.email}}
      yourphone:{{user_data_from_DB.contact}}</p>
    <form action="/">
      <input type="submit" value="ok!homepage" />
    </form>
  </body>
</html>
